
@{
    ViewBag.Title = "GoMenu";
}

<script>

    function redireccionar(){
        window.locationf="/Home/Index/";
    }
    setTimeout ("redireccionar()", 2000); //tiempo expresado en milisegundos


</script>

<h2>Cargando..</h2>

